# Data files
data/images/
data/index/
*.npy

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Virtual env
venv/
.env/
env/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db


